// Specific CSS for your home-page

/* Your banner CSS file */
.banner {
  background-image: url("../../images/background.jpg");
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.banner-content {
}

.banner h1 {
  margin: 30px;
  font-size: 300%;

}

.banner p {
  margin: 100px;
  font-size: 150%;


}

.banner btn-green {
    margin: 150px 10px;

}

